*{
    margin:0px 5px;
    padding:0px;
    box-sizing:border-box
}
body{
    font-family: sans-serif;
}
.container{
   height:100vh;
}

.header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  height:10%;
 
  align-items:center;
}
.header_logo{
   font-size:3vw;
}
.header_menu{
 display:flex;
 flex-direction:row;
 font-size:2vw;   
 gap:15px;
}

.main{
  height:80%;
  
  display: flex;
  flex-direction: row;
  
}
.main_image{
 background-image: url("https://i.pinimg.com/236x/59/b5/b2/59b5b269b8ffb945c9dc1e89327c2a72.jpg");
 width:50%;
 background-repeat: no-repeat;
 
 background-size: contain;
 background-position: left center;
}
.main_text{
   width:50%;
   display:flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   
}
.main_text-1{
    font-size:6vw;
    text-align:center;
}
.main_text-2, .main_text-3, .main_text-4{
    font-size:3vw;
}
.footer{
    height:10%;
    display:flex;
    flex-direction: row;
   align-items:center;
   justify-content: flex-end;
   margin-right:10%;
}

@media (max-width:650px){
    .header{
      justify-content: center;
      
    }
    .header_logo{
        font-size:40px;
        padding-top:25px; 
        padding-bottom: 25px;
    }
    .header_menu{
     display:none;
    }
    .main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .main_image{
        width:200px;
      height:200px;
      border-radius: 100%;
      background-size:100%;
      background-position: center;
      
    }
    .main_text{
      width:100%
    }
    .main_text-1{
        display:none;
    }
    .main_text-2, .main_text-3, .main_text-4{
        font-size:30px;
    }
    .footer{
     justify-content: center;
     margin:0px;
    }
    .footer_instagram, .footer_twitter, .footer_dribbble, .footer_behance{
        width:10px;
        height:45px; 
          
    }{

    }
    
}