*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image:url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_640.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    height:70vh;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    margin-top:5%;
    
}
.left-container{
    width:20vw;
    height:15vh;
    background-color: blueviolet;
    
}
.add-note{
    width:20vw;
    height:25vh;
    background-color: #0caf35;
    border:2px solid white;
    border-radius:5px;
    margin-bottom:1rem;
}
.add-note h2{
    text-align:center;
    color:white;
    font-weight: 700;
    padding-top:1rem;
    padding-bottom:1rem;
}
.taskinput{
    text-align: center;
    padding-bottom:1.5rem;
}
.taskinput input{
    width:16vw;
    height:5.5vh;
    border:none;
    border-radius:5px;
}
.button{
    background-color: brown;
}
.add-note button{
    width:20%;
    height:6vh;
    border-radius: 4px;
    border:none;
    color:white;
    background-color: #007bff;
    text-align:center;
    margin-left:1.5rem;
    
}
@media (max-width:576px){
    .container{
        background-color:red;
        height:500px;
    }
}

